@model List<Chapter>
@using EduQuiz_5P.Models;

@{
    var SelectSubject = $"SelectSubject{0}";
}
<div class="row create-dynamic">
    <div class="col-12 col-sm-6">
        <div class="form-group local-forms">
            <label>Tên chương học<span class="login-danger">*</span></label>
            <input asp-for="@Model[0].ChapterName" class="form-control" placeholder="Enter Name">
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-group local-forms">
            <label>Lớp <span class="login-danger">*</span></label>
            <select class="form-control select" asp-items="@Model[0].SelectClass" onchange="getSubjectByClasses(this.value, '#@SelectSubject')">
                <option value="">Chọn lớp</option>
            </select>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-group local-forms">
            <label>Môn học<span class="login-danger">*</span></label>
            <select id="@SelectSubject" asp-for="@Model[0].SubjectId" class="form-control select">
                <option value="">Chọn môn học</option>
            </select>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group local-forms">
            <label>Mô tả chương học <span class="login-danger">*</span></label>
            <textarea asp-for="@Model[0].ChapterDescription" id="editor1" class="editor" cols="30" rows="10"></textarea>
        </div>
    </div>
</div>
