@model ICollection<EduQuiz_5P.Models.Chapter>
@{
    ViewData["Title"] = "Tạo Chương";
}

<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">@ViewData["Title"]</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Chapter">Danh sách chương</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Create">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Basic Details</span></h5>
                            </div>
                            @foreach(var item in Model)
                            {
                                <hr />
                                <hr />
                                <div class="col-12 col-sm-6">
                                    <div class="form-group local-forms">
                                        <label>Tên chương học<span class="login-danger">*</span></label>
                                        <input asp-for="@item.ChapterName" class="form-control" placeholder="Enter Name">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group local-forms">
                                        <label>Lớp <span class="login-danger">*</span></label>
                                        <select class="form-control select" asp-items="ViewBag.ClassList">
                                            <option value="">Chọn lớp</option>
                                        </select>
                                    </div>
                                </div>
                                var SubjectIdtext = $"#SelectSubject";
                                <div class="col-12 col-sm-6">
                                    <div class="form-group local-forms">
                                        <label>Môn học<span class="login-danger">*</span></label>
                                        <select class="form-control select" id="@SubjectIdtext">
                                            <option value="">Chọn lớp</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group local-forms">
                                        <label>Mô tả chương học <span class="login-danger">*</span></label>
                                        <textarea asp-for="@item.ChapterDescription" id="editor1" class="editor" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                            }
                            
                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
