@using EduQuiz_5P.Enums
@using EduQuiz_5P.Helpers
@model EduQuiz_5P.ViewModel.StatisticalVM;

@{
    ViewData["Title"] = "Trang chủ Admin";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-sub-header">
                    <h3 class="page-title">Welcome Admin!</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">Admin</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Người dùng</h6>
                            <h3 class="counter">@Model.NumberOfUser</h3>
                        </div>
                        <div class="db-icon">
                            <img src="~/AdminLayout/images/icons/dash-icon-01.svg" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Ngân hàng câu hỏi</h6>
                            <h3><span class="counter">@Model.NumberOfQuestion</span>+</h3>
                        </div>
                        <div class="db-icon">
                            <img src="~/img/icons/pencil-icon.svg" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Ngân hàng đề thi</h6>
                            <h3><span class="counter">@Model.NumberOfExam</span>+</h3>
                        </div>
                        <div class="db-icon">
                            <img src="~/AdminLayout/images/icons/teacher-icon-02.svg" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Lượt làm bài</h6>
                            <h3><span class="counter">@Model.NumberOfUserExam</span>+</h3>
                        </div>
                        <div class="db-icon">
                            <img src="~/AdminLayout/images/icons/teacher-icon-01.svg" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-6">

            <div class="card card-chart">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h5 class="card-title">Overview</h5>
                        </div>
                        <div class="col-6">
                            <ul class="chart-list-out">
                                <li><span class="circle-blue"></span>Người dùng đăng ký</li>
                                <li class="star-menus">
                                    <a href="javascript:;">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="apexcharts-area" style="min-height: 365px;">
                    </div>
                    <div class="resize-triggers">
                        <div class="expand-trigger">
                            <div style="width: 594px; height: 382px;"></div>
                        </div>
                        <div class="contract-trigger"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12 col-lg-6">

            <div class="card card-chart">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h5 class="card-title">Number of Students</h5>
                        </div>
                        <div class="col-6">
                            <ul class="chart-list-out">
                                <li><span class="circle-blue"></span>Girls</li>
                                <li><span class="circle-green"></span>Boys</li>
                                <li class="star-menus">
                                    <a href="javascript:;">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="bar" style="min-height: 365px;">
                    </div>
                    <div class="resize-triggers">
                        <div class="expand-trigger">
                            <div style="width: 594px; height: 382px;"></div>
                        </div>
                        <div class="contract-trigger"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 d-flex">

            <div class="card flex-fill student-space comman-shadow">
                <div class="card-header d-flex align-items-center">
                    <h5 class="card-title">Người dùng hạng cao nhất</h5>
                    <ul class="chart-list-out student-ellips">
                        <li class="star-menus">
                            <a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table star-student table-hover table-center table-borderless table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Họ và tên</th>
                                    <th>Giới tính</th>
                                    <th class="text-center">Điểm</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.UserTopRank)
                                {
                                    <tr>
                                        <td class="text-nowrap">
                                            <div>@user.UserId</div>
                                        </td>
                                        <td class="text-nowrap">
                                            <a href="#">
                                                <img class="rounded-circle"
                                                     src="~/AdminLayout/images/profiles/avatar-02.jpg" width="25"
                                                     alt="Star Students">
                                                @user.FullName
                                            </a>
                                        </td>
                                        <td>@CallBack.GetEnumDisplayName((Gender)(user.Gender ?? Gender.Another))</td>
                                        <td class="text-center">
                                            <div>@user.Point.ToString("N2")</div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xl-6 d-flex">

            <div class="card flex-fill comman-shadow">
                <div class="card-header d-flex align-items-center">
                    <h5 class="card-title ">Người dùng hoạt động </h5>
                    <ul class="chart-list-out student-ellips">
                        <li class="star-menus">
                            <a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="activity-groups">
                        <div class="activity-awards">
                            <div class="award-boxs">
                                <img src="~/AdminLayout/images/icons/award-icon-01.svg" alt="Award">
                            </div>
                            <div class="award-list-outs">
                                <h4>Đạt danh hiệu điểm cao nhất bài thi</h4>
                                <h5>Admin đã hoàn thành bài thi nhận 60 point</h5>
                            </div>
                            <div class="award-time-list">
                                <span>1 Day ago</span>
                            </div>
                        </div>
                        @* <div class="activity-awards">
                            <div class="award-boxs">
                                <img src="~/AdminLayout/images/icons/award-icon-02.svg" alt="Award">
                            </div>
                            <div class="award-list-outs">
                                <h4>Participated in "Carrom"</h4>
                                <h5>Justin Lee participated in "Carrom"</h5>
                            </div>
                            <div class="award-time-list">
                                <span>2 hours ago</span>
                            </div>
                        </div>
                        <div class="activity-awards">
                            <div class="award-boxs">
                                <img src="~/AdminLayout/images/icons/award-icon-03.svg" alt="Award">
                            </div>
                            <div class="award-list-outs">
                                <h4>Internation conference in "St.John School"</h4>
                                <h5>Justin Leeattended internation conference in "St.John School"</h5>
                            </div>
                            <div class="award-time-list">
                                <span>2 Week ago</span>
                            </div>
                        </div>
                        <div class="activity-awards mb-0">
                            <div class="award-boxs">
                                <img src="~/AdminLayout/images/icons/award-icon-04.svg" alt="Award">
                            </div>
                            <div class="award-list-outs">
                                <h4>Won 1st place in "Chess"</h4>
                                <h5>John Doe won 1st place in "Chess"</h5>
                            </div>
                            <div class="award-time-list">
                                <span>3 Day ago</span>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        'use strict';

        $(document).ready(function () {

            // Line chart
            var monthlyRegistrationData = @Html.Raw(Json.Serialize(Model.UserRegisterData));
            console.log(JSON.stringify(monthlyRegistrationData));
            const counts = monthlyRegistrationData.reduce((acc, item) => {
                acc.push(item.count);
                return acc;
            }, []);

            const months = monthlyRegistrationData.reduce((acc, item) => {
                acc.push(item.month);
                return acc;
            }, []);

            console.log('Counts:', counts);
            console.log('Months:', months);

            if ($('#apexcharts-area').length > 0) {
                var options = {
                    chart: {
                        height: 350,
                        type: "line",
                        toolbar: {
                            show: false
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        curve: "smooth"
                    },
                    series: [{
                        name: "User",
                        color: '#70C4CF',
                        data: counts
                    }],
                    xaxis: {
                        categories: months,
                    }
                }
                var chart = new ApexCharts(
                    document.querySelector("#apexcharts-area"),
                    options
                );
                chart.render();
            }

            // Area chart

            if ($('#school-area').length > 0) {
                var options = {
                    chart: {
                        height: 350,
                        type: "area",
                        toolbar: {
                            show: false
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        curve: "straight"
                    },
                    series: [{
                        name: "Người dùng",
                        color: '#70C4CF',
                        data: [24, 48, 56, 32, 34, 52, 25]
                    }],
                    xaxis: {
                        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul'],
                    }
                }
                var chart = new ApexCharts(
                    document.querySelector("#school-area"),
                    options
                );
                chart.render();
            }

            // Bar chart

            if ($('#bar').length > 0) {
                var optionsBar = {
                    chart: {
                        type: 'bar',
                        height: 350,
                        width: '100%',
                        stacked: false,
                        toolbar: {
                            show: false
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    plotOptions: {
                        bar: {
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        },
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    series: [{
                        name: "Boys",
                        color: '#70C4CF',
                        data: [420, 532, 516, 575, 519, 517, 454, 392, 262, 383, 446, 551],
                    }, {
                        name: "Girls",
                        color: '#3D5EE1',
                        data: [336, 612, 344, 647, 345, 563, 256, 344, 323, 300, 455, 456],
                    }],
                    labels: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
                    xaxis: {
                        labels: {
                            show: false
                        },
                        axisBorder: {
                            show: false
                        },
                        axisTicks: {
                            show: false
                        },
                    },
                    yaxis: {
                        axisBorder: {
                            show: false
                        },
                        axisTicks: {
                            show: false
                        },
                        labels: {
                            style: {
                                colors: '#777'
                            }
                        }
                    },
                    title: {
                        text: '',
                        align: 'left',
                        style: {
                            fontSize: '18px'
                        }
                    }

                }

                var chartBar = new ApexCharts(document.querySelector('#bar'), optionsBar);
                chartBar.render();
            }

            // Simple Line

            if ($('#s-line').length > 0) {
                var sline = {
                    chart: {
                        height: 350,
                        type: 'line',
                        zoom: {
                            enabled: false
                        },
                        toolbar: {
                            show: false,
                        }
                    },
                    // colors: ['#4361ee'],
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        curve: 'straight'
                    },
                    series: [{
                        name: "Desktops",
                        data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
                    }],
                    title: {
                        text: 'Product Trends by Month',
                        align: 'left'
                    },
                    grid: {
                        row: {
                            colors: ['#f1f2f3', 'transparent'], // takes an array which will be repeated on columns
                            opacity: 0.5
                        },
                    },
                    xaxis: {
                        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                    }
                }

                var chart = new ApexCharts(
                    document.querySelector("#s-line"),
                    sline
                );

                chart.render();
            }

        });
    </script>
}