@model EduQuiz_5P.ViewModel.UserInfoVM

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Account/_LayoutAccount.cshtml";
}

<div class="custom-shape"></div>
<div class="min-vh-100 main-login container d-flex justify-content-center align-items-center">
    <div class="card p-lg-5 my-5 shadow shadow-lg rounded" style="max-width: 100vh;">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="~/img/profile/imageleft.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <div class="container">
                        <div class="text-center pb-5">
                            <h4 class="card-title">Sign In</h4>
                            <div class="d-inline-block w-100">
                                <p class="card-text mt-0 ">Do not have an account?<a asp-action="Register" asp-controller="Account" class="ms-2">Sign up</a></p>
                            </div>
                        </div>
                        <form asp-action="Login" asp-controller="Account" asp-area="">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3">
                                <label asp-for="UserName" class="form-label">UserName:</label>
                                <input asp-for="UserName" class="form-control" aria-describedby="emailHelp" placeholder="Enter your user name">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Password" class="form-label">Password</label>
                                <input asp-for="Password" class="form-control" placeholder="Enter your password">
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="mb-3 form-check">
                                    <input asp-for="RememberMe" class="form-check-input">
                                    <label asp-for="RememberMe" class="form-check-label">Check me out</label>
                                </div>
                                <div class="ms-auto">
                                    <a href="#">Forgot password?</a>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary w-100">Sign in</button>
                            <div class="col-md-12">
                                <div class="login-or">
                                    <hr class="hr-or">
                                    <span class="span-or">or</span>
                                </div>
                            </div>
                            @{

                                if ((Model.ExternalLogins?.Count ?? 0) > 0)
                                {
                                <form id="external-account" asp-page="./ExternalLogin" method="post" class="form-horizontal">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins!)
                                            {
                                                if (String.Equals(@provider.DisplayName, "Google"))
                                                {
                                                    <button type="submit" class="btn btn-light w-100 border border-1 border-dark" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                            <span class="me-2"><i class="fa-brands fa-google"></i></span>Đăng Nhập Bằng @provider.DisplayName
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                }
                                            }
                                        </p>
                                    </div>
                                </form>
                                }
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>